<div class="d-flex justify-content-center">
  <h1>Eat Yo Burger!</h1>
</div>

<div class="row">
  <div class="col-6">
    <h2>Burgers uneaten yet</h2>
  </div>
  <div class="col-6">
    <h2>Burgers devoured!</h2>
  </div>
</div>

<div class="row">
  <div class="col-6 d-flex justify-content-center">
    <ul>
      {{#each burgers}} 
        {{#unless devoured}}
          <div>
            <form action="/api/burgers/{{this.id}}?_method=PUT" method="POST">
              <button type="submit" class="available btn btn-info">{{this.burger_name}}</button>
            </form>
          </div>
        {{/unless}} 
      {{/each}}
    </ul>
  </div>

  <div class="col-6 d-flex justify-content-center">
    <ul>
      {{#each burgers}} 
        {{#if devoured}}
          <button class="eaten btn btn-disabled" disabled="disabled">{{ this.burger_name }}</button>
        {{/if}} 
      {{/each}}
    </ul>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="form">
    <form action="/api/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="What's your order?">
      <button type="submit" id="submit">Add Burger</button>
    </form>
  </div>
</div>

<div class="d-flex justify-content-center">
  <p>Enter a burger you want to eat. Click the 'Add Burger' button.</p>
</div>